    footer /* Стиль "подвала" сайта */
	{
      background-color: #545; /* Цвет фона */
      color: white; /* Цвет текста в "подвале" сайта */
      padding: 16px; /* Поля вокруг текста */
    }